.navbar {
  width: 100%;
  height: 75px;
  background-color: rgb(19, 19, 19);
  display: flex;
 position: fixed;
  align-items: center;
}
.left{
  display: flex;
  justify-content: flex-start;
}

.links {
  margin-right: 50px;
  display: flex;
  align-items: center;
  padding-left: 60%;
  margin-top: -13px;
  margin-right: 5px;
}

.links a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 25px;
}

@media screen and (max-width: 800px){
  .links{
      margin-right: 10px;
      display: flex;
      align-items: flex-end;
      padding-left: 53%;
      margin-top: -13px;
      margin-right: 5px;
  }
  
}
@media screen and (max-width: 700px){
  .links{
      margin-right: 10px;
      display: flex;
      align-items: flex-end;
      padding-left: 46%;
      margin-top: -13px;
      margin-right: 5px;
  }
  
}
@media screen and (max-width: 600px){
  .links{
      margin-right: 10px;
      display: flex;
      align-items: flex-end;
      padding-left: 38%;
      margin-top: -13px;
      margin-right: 5px;
  }
  @media screen and (max-width: 500px){
    .links{
        margin-right: 10px;
        display: flex;
        align-items: flex-end;
        padding-left: 31%;
        margin-top: -13px;
        margin-right: 5px;
    }
    @media screen and (max-width: 400px){
      .links{
          margin-right: 10px;
          display: flex;
          align-items: flex-end;
          padding-left: 25%;
          margin-top: -13px;
          margin-right: 5px;
      }
      
    }
    
  }
  
}